# Dependencies
node_modules/

# Build outputs
build/
dist/
coverage/

# Environment files
.env
.env.*

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS artifacts
.DS_Store
Thumbs.db

# Editor directories
.vscode/


# Backend specific ignores
Backend/node_modules/
Backend/.env
Backend/.env.*
Backend/*.zip
*.zip

# Frontend specific ignores
Frontend/node_modules/
Frontend/.env
Frontend/.env.*
